<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>webapp1</display-name>

	<listener>
		<!-- wWebApllication이 WAS에 처음 배치(되어 실행)될 때 발생하는 (배치)이벤트를 처리하는 객체등록 -->
		<listener-class>
			<!-- Root WebApplicationContext 생성 -->
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/root/*.xml</param-value>
	</context-param>


	<servlet>
		<!-- WebApplicationContext 생성 -->
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/dispatcher/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>	
	</servlet>
	
	<servlet-mapping>
		<!--  http://localhost:8080/webapp1/dispatcher/xxx -->
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


</web-app>